.wrapper{
	width: 100%;
	overflow-x: hidden;
}
header{
	width: 100%;
	height: 750px;
	z-index: 1;
	position: relative;
	overflow: hidden;
	background: url(../img/header.jpg) no-repeat;
}
.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin: 0 25px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	position: relative;
	z-index: 3;
	box-sizing: border-box;
}
nav .logo{
	height: 100px;
}
nav .logo a{
	display: flex;
	align-items: center;
	width: 189px;
	height: 100%;
}
nav .logo img{
	width: 189px;
	height: 24px;
}
nav .logo h1{
	position: absolute;
	text-indent: -9999999px;
}
nav .nav-menu ul{
	height: 100%;
	display: flex;
	align-items: stretch;
	transition: 0.5s;
}
nav .navlinks li{
	margin-left: 60px;
	display: flex;
	align-items: center;
	justify-content: end;
}
nav .navlinks li:first-child{
	margin-left: 0;
}
nav .navlinks a{
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	font-size: 13px;
	font-family: "Raleway";
	color: rgba(255, 255, 255, 0.749);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	transition: 0.3s;
	text-align: right;
}
nav .navlinks a:hover{
	color: #d64346;
}
nav .navbar-button{
	position: absolute;
	right: 30px;
	top: 35px;
	display: none;
	padding: 0;
	width: 50px;
	height: 50px;
	background: none;
	border: none;
}
nav .navbar-button span{
	display: block;
	width: 100%;
	height: 2px;
	background: #F4F4F4;
	margin-bottom: 10px;
}
nav .navbar-button span:last-child{
	margin-bottom: 0;
}
nav .navbar-button .top-opened{
	transform: rotate(45deg);
	position: relative;
	top: 25%;

}
nav .navbar-button .middle-opened{
	opacity: 0;
}
nav .navbar-button .bottom-opened{
	transform: rotate(-45deg);
	position: relative;
	bottom: 22%;
}
nav .navlinks-mobile{
	display: block;
}
header .first-view{
	display: flex;
	flex-direction: column;
	align-items: center;
}
header .first-view-container{
	padding-top: 155px;
	max-width: 865px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
header .first-view-container h2{
	font-size: 65px;
	font-family: "Open Sans";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.092;
	margin-bottom: 40px;
}
header .first-view-container p{
	font-size: 20px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: normal;
	line-height: 30px;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 85px;
}
header .first-view-container button{
	display: block;
	padding: 20px 52px;
	text-transform: uppercase;
	background-color: #d64346;
	border-radius: 5px;

	font-size: 13px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	transition: 0.1s;
}
header .first-view-container button:hover{
	box-shadow: 0 0 10px #d64346;
}

main{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
main .features{
	padding: 120px 0 125px 0;
	width: 100%;
	display: flex;
	justify-content: center;
}
main .features-container{
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 75px;
	grid-template-columns: repeat( auto-fit, minmax(310px, 1fr) );
	justify-items: center;
	width: 100%;
	max-width: 1085px;
}
main .features-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 10px;
	width: 310px;
	text-align: center;
}
main .features-item .img-holder{
	margin-bottom: 35px;
}
main .features-item h5{
	line-height: 1.2;
	margin-bottom: 25px;

	font-size: 14px;
	font-family: "Raleway";
	color: rgb(45, 48, 51);
	font-weight: bold;
	text-transform: uppercase;
}
main .features-item p{
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(108, 114, 121);
	line-height: 1.5;
}


main .works{
	width: 100%;
	max-width: 1900px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 100px;
}
main .works-item{
	width: 25%;
	height: 18vw;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border: 0.1px solid #fff;
}
main .works-item a{
	width: 100%;
	height: 100%;
}
main .works-item .img-holder{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
main .works-item .img-holder img{
	width: 100%;
}
main .works-item .work-name{
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(232, 69, 69, 0.9);
	opacity: 0;
	transition: 0.4s;
}
main .works-item .work-name:hover{
	opacity: 1;
}
main .works-item .work-name h5{
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;

	margin-bottom: 15px;
}
main .works-item .work-name p{
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	line-height: 1.2;
}

main .team{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}
main .team-container{
	width: 1170px;
	display: grid;
	grid-column-gap: 27px;
	grid-row-gap: 75px;
	grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );
	justify-items: center;
}
main .team-container .team-item{
	width: 270px;
}
main .team .avatar{
	width: 270px;
	height: 270px;
	margin-bottom: 30px;
}
main .team .avatar img{
	width: 100%;
	height: 100%;
}
main .team .name{
	font-size: 22px;
	font-family: "Raleway";
	color: rgb(45, 48, 51);
	line-height: 1.2;

	margin-bottom: 15px;
}
main .team .position{
	font-size: 13px;
	font-family: "Raleway";
	color: rgb(232, 69, 69);
	text-transform: uppercase;
	line-height: 1.2;

	margin-bottom: 30px;
}
main .team-item p{
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(108, 114, 121);
	line-height: 1.5;

	margin-bottom: 30px;
}
main .team-item .social{
	display: flex;
}
main .team-item .social > div{
	width: 38px;
	height: 38px;
	border: 1px solid #e8ecee;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
}
main .team-item .social > div:last-child{
	margin: 0;
}
main .team-item .social a{
	width: 100%;
	height: 100%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #c6cacc;
	transition: 0.4s;
}
main .team-item .social a:hover{
	font-size: 25px;
	color: #858585;
}
main .download{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 100px;
}
main .download h5{
	font-size: 28px;
	font-family: "Raleway";
	color: rgb(45, 48, 51);
	line-height: 1.5;
	text-align: center;

	margin-bottom: 20px;
} 
main .download h6{
	font-size: 13px;
	font-family: "Raleway";
	color: rgb(45, 48, 51);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;

	margin-bottom: 40px;
}
main .download button{
	display: block;
	padding: 17px 80px;
	background-color: #d64346;
	border-radius: 5px;

	font-size: 13px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.615;
	text-align: center;
	transition: 0.1s;
}
main .download button:hover{
	box-shadow: 0 0 10px #d64346;
}





footer{
	background-color: #3a3d63;
	display: flex;
	flex-direction: column;
	align-items: center;

}
footer .footer-container{
	width: 100%;
	max-width: 1025px;
	display: flex;
	justify-content: space-between;
	padding: 70px 0 40px 0;
}
footer .footer-container > div{
	width: 33.33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
footer .footer-container h5{
	font-size: 14px;
	font-family: "Raleway";
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;

	margin-bottom: 20px;
}
footer .location{
	text-align: center;
	width: 155px;
}
footer .location a{
	text-align: center;
	display: block;
	width: 155px;
	font-size: 14px;
	font-family: "Raleway";
	color: rgba(255, 255, 255, 0.502);
	line-height: 1.607;
}
footer .social{
	display: flex;
}
footer .social > div{
	width: 38px;
	height: 38px;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
}
footer .social > div:last-child{
	margin: 0;
}
footer .social a{
	width: 100%;
	height: 100%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	transition: 0.3s;
}
footer .social a:hover{
	font-size: 25px;
}
footer .about{
	text-align: center;
	max-width: 310px;
}
footer .about p{
	font-size: 14px;
	font-family: "Raleway";
	color: rgba(255, 255, 255, 0.502);
	line-height: 1.607;
}
footer .copyright{
	width: 100%;
	background-color: #353857;
	padding: 15px 0 15px 0;
}
footer .copyright p{
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(128, 128, 128);
	line-height: 1.607;
	text-align: center;
}
footer .copyright span{
	font-family: "Webdings";
	font-size: 20px;
	color: #e84545;
}


div.scrollup {
  position: fixed; /* фиксированная позиция */
  color: #fff; /* цвет текста */
  background-color: #676B90; /* цвет заднего фона */
  opacity: 0.5;
  right: 40px; /* расстояние от правого края */
  bottom: 0px; /* расстояние от нижнего края */
  padding: 8px 20px; /* отступы до содержимого блока */
  font-size: 20px; /* размер шрифта (иконки) */
  border-top-left-radius: 4px; /* скругление верхнего левого угла */
  border-top-right-radius: 4px; /* скругление верхнего правого угла */
  cursor: pointer; /* форма курсора */
  display: none; /* не отображать элемент */
  text-align: center; /*выравнивание содержимого элемента по центру */
  z-index: 100;
  transition: 0.4s;
}
div.scrollup:hover {
  opacity: 1;
}



@media (max-width: 992px) {
header{
	height: 600px;
}
nav{
	min-height: 65px;
	padding: 35px 0 35px 0;
}
nav .logo{
	height: 30px
}
nav .nav-menu .navlinks{
	display: none;
	margin: 70px 80px 0 0;
	flex-direction: column;
	align-items: flex-end
}
nav .nav-menu .navlinks-mobile{
	display: block
}
nav .navlinks li{
	margin-left: 0;
	margin-bottom: 45px
}
nav .navlinks a{
	font-size: 25px;
}
nav .navbar-button{
	display: block
}
header .first-view-container{
	padding: 120px 20px 0 20px;
	max-width: 865px;
}
header .first-view-container h2{
	font-size: 40px;
}
}


@media (max-width: 775px) {
header .first-view-container{
	padding-top: 80px;
}


@media (max-width: 580px) {
nav{
	flex-direction: column;
	align-items: center;
}
nav .logo{
	align-self: start
}
nav .nav-menu .navlinks{
	margin-right: 0
}
nav .navlinks a{
	justify-content: center
}
header .first-view-container{
	padding-top: 100px;
}
header .first-view-container h2{
	margin-bottom: 10px;
	font-size: 30px;
}
header .first-view-container p{
	margin-bottom: 30px;
	font-size: 20px;
}
div.scrollup {
	font-size: 30px;
}
footer .footer-container h5{
	font-size: 20px;
}
footer .about p{
	font-size: 20px;
}
footer .location a{
	width: 100%;
	font-size: 20px;
}

main .team .social > div{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
footer .social > div{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
@media (max-width: 480px) {

main .works{
	width: 100%;
	flex-direction: column;
	padding-bottom: 100px;
}
main .works-item{
	width: 100%;
	height: 50vw;
	flex-direction: column;
	align-items: start;
	margin-bottom: 40px
}
main .works-item .work-name{
	width: 50%;
	opacity: 1;
}
main .works-item .work-name h5{
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;

	margin-bottom: 15px;
}
main .works-item .work-name p{
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	line-height: 1.2;
}
footer .footer-container{
	padding: 45px 0 45px 0;
	flex-direction: column-reverse;
	align-items: center
}
footer .footer-container > div{
	width: 80%;
	margin-bottom: 20px;
}
footer .footer-container > div:first-child{
	margin: 0
}
}



















